# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=randomlygeneratedsecretkey
JWT_EXPIRES_IN=7d

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=homedrive
DB_USER=postgres
DB_PASSWORD=postgres

# Uploads
MAX_FILE_SIZE_MB=10000

POSTGRES_USER=homedrive_user
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=homedrive